<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
    <h1>{{title}}</h1>
  <label>
    Nombre:
    <input type="text">
  </label>
  <br>
  <select>
    <option *ngFor="let item of users[0].data; ">
      {{item.first_name}}
    </option>
  </select>
  <br>
  <button (click)="ordenar()">Ordenar</button>
  <br>
  <label>
    Que aprendi:
    <br>
    <textarea>Aprendi conceptos basicos de html y css, ademas de angular y el como realizar test unitarios para este</textarea>
  </label>
</body>

</html>
